  #photo-viewer {
  display: none;
}
#photo-viewer .photo-box {
  position: relative;
  display: block;
  width: 800px;
  height: 450px;
  margin: 40px;
}
#photo-viewer .photo-box.is-loading::after {
  content: "Loading...";
  position: absolute;
  z-index: 10;
  color: #000;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
#photo-viewer .photo-box img {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 50%;
  left: 50%;
  border: 3px dashed rgb(197, 197, 208);
  border-radius: 3px;
  padding: 10px;
}

.thumbnail-anchor{
  text-decoration: none;
}
#photo-viewer .thumbnail-anchor img {
  border: 3px dashed rgb(171, 171, 182);
  border-radius: 3px;
  padding: 4px;
  width: 80px;
  height: 45px;
}
#photo-viewer .thumbnail-anchor img:hover{
  box-shadow: 0 0 2px 1px rgba(194, 207, 211, 0.5);
}

#photo-viewer .thumbnail-anchor img.active {
  display: table;
  clear: both;
}
